* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Condensed', sans-serif;
}

@media (max-width: 291px) {
    .app .content#adaptive {
        max-width: 290px;
        margin: 0 15px 49px;
    }
    .content .header {
        padding: 16px 5px;
        flex-direction: column;
        align-items: baseline;
        &__titles {
            flex-wrap: wrap;
            gap: 10px;
        }
        &-bg {
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
        &__promo-title {
            font-size: 28px;
            margin-bottom: 20px;
        }
        &__promo-container {
            top: 40px;
            left: 5px;
        }
    }
    .header .header__logo {
        display: block;
        margin: 0;
    }
    .header .header__titles-title {
        font-size: 14px; 
    }
    .app .button {
        padding: 5px 25px;
    }


    .app .advantages{
        padding: 60px 0 50px;
    }
    .advantages .advantages__text {
        padding: 24px 0;
        font-size: 16px;
        margin-top: 60px;
        
    }
    .advantages .advantages__numbers-wrapper {
        gap: 8px 24px;
        margin: 50px 0;
        min-height: 242px;
        text-align: center;
    }
    .advantages .advantages__numbers-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advantages .advantages__numbers {
        padding: 0;
    }
    .advantages .advantages__numbers-description {
        font-size: 16px
    }
    .advantages .advantages__numbers-number {
        font-size: 40px;
        gap: 4px;
        span {
            font-size: 30px;
        }
    }
    .advantages .advantages__numbers-number .bold {
        font-size: 30px;
    }

    .map .container {
        display: block;
    }

    .map .map-nav {
        padding: 18px 5px 20px;
        gap: 6px;
    }
    .map .map-nav__main-title {
        font-size: 20px;
    }
    .map .map-nav__main-icon svg {
        width: 20px;
    }
    .map .map__position-city {
        overflow: hidden;
    }
    .map .map__tabs {
        gap: 16px;
        padding: 0 5px;
        overflow: hidden;
    }
    .map .map-tab {
        font-size: 14px;
        width: max-content;
    }
    .map .map-img {
        width: 848px;
        margin: 0;
    }
    .map .region {
        font-size: 14px;
        line-height: 14px;
        gap: 0;
        display: block;
    }
    .map .region__cities {
        opacity: 0;
        height: 0;
    }
    .map .drop-cities {
        opacity: 1;
        height: 100%;
        color: #444444;
    }
    .map .red {
        color: #A30C33;
    }
    .map .white {
        display: none;
    }

    .dropdown .dropdown__container {
        display: none;
    }
    .map .dropdown .active {
        padding: 15px 5px;
    }

    .map .mobile {
        display: grid;
        gap: 15px 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        grid-template-columns: 1fr 1fr 1fr;
        transition: all 1s;
    }

    .mission .mission__bg {
        width: 290px;
        min-height: 195px;
    }
    .mission .mission__bg-icon {
        width: 36%;
        top: 14%;
    }
    .mission .mission__content {
        padding: 0;
        bottom: 0;
    }
    .mission .mission__content-header {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .mission .mission__content-description {
        font-size: 16px;
        padding: 0 5px;
        margin-bottom: 32px;
    }

    .direction .direction__title {
        font-size: 28px;
        margin-top: 50px;
    }

    .direction .direction__items {
        margin-top: 15px;
        grid-template-columns: 1fr;
    }
    .direction .direction__item {
        height: 60px;
    }
    // .direction .direction__item:hover {
    //     height: 240px;
    // }
    .direction .direction__items .direction__item-title {
        font-size: 20px;
        padding: 20px 10px;
    }
    .direction .direction__img:hover {
        height: 240px;
    }
    .direction .direction__img {
        width: 280px;
        height: 60px;
        object-fit: cover;
    }
    .direction .effect#priority {
        top: 0;
        width: 280px;
    }
    .direction .effect#priority:hover {
        top: 0;
        width: 280px;
    }
    .app .benefits {
        margin: 24px 5px;
    }
    .benefits .benefits__container {
        margin: 50px 5px 0;
    }
    .benefits .benefits__title {
        font-size: 28px;
        padding-top: 24px;
    }
    .benefits .benefits__wrapper {
        padding: 40px 15px;
        flex-wrap: wrap;
    }
    .benefits .benefits__packet-icon {
        width: 80px;
        height: 80px;
    }
    .benefits .benefits__packet {
        max-width: 109px;
        justify-content: flex-start;
    }
    .benefits .benefits__programm-title {
        font-size: 22px;
        margin-top: 24px;
    }
    .benefits .benefits__programm-wrapper {
        padding: 0 0 24px;
        gap: 25px;
        flex-wrap: wrap;
        margin-top: 25px;
        justify-content: center;
    }
    .benefits .benefits__packet-title {
        font-size: 16px;
    }
    .carousel {
        margin-top: 50px;
        padding: 0 5px;
    }
    .carousel .carousel__title {
        font-size: 28px;
        text-align: center;
    }
    .carousel .carousel__top {
        margin-bottom: 15px;
    }
    .swiper-wrapper {
        height: 210px;
    }
    .slide__img {
        width: 280px;
        height: 210px;
    }
    .carousel .carousel__pagination {
        display: none;
    }
    .carousel .swiper-button-prev {
        display: none;
    }
    .carousel .swiper-button-next {
        display: none;
    }
}

    

    